{% extends 'carpool/base.html' %}

{% block title%}
    <title>Colby Rideshare | Ride Info</title>
{% endblock title %}

{% block content %}

<div class="container mx-4 mt-4 mb-4">
    <div>
    <h3>Ride Details</h3>
    </div>
    <div class="body">
        <br><h5>Leaving from:</h5>
        <p>{{ ride.origin}}</p>  
        <br><h5>Going to:</h5>
        <p>{{ ride.destination}}</p>  
        <br><h5>Room in car:</h5>
        <p>{{ ride.driver.first_name }} has room for {{ ride.capacity }} people and {{ ride.num_riders }} other people are on this ride</p>  
        {% if ride.notes|length > 0 %}
            <br><h5>Notes from driver:</h5>
            <p>{{ ride.notes }}</p>
        {% else %}
            <br><h5>Notes from driver:</h5>
            <p>N/A</p>
        {% endif %}         
    </div>
        <a
            type="button" class="btn btn-primary" href="{% url 'ride-signup' ride.id %}">Send a Message to {{ ride.driver.first_name }}
        </a>

</div>


{% endblock content %} 