{% extends 'carpool/base.html' %}

{% block title%}
    <title>Colby Rideshare | Signup For A Ride</title>
    <script async src="https://maps.googleapis.com/maps/api/js?key={{GOOGLE_API}}&libraries=places&callback=initialize" defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

    <script
    type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.1.0/mdb.min.js"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>

    <script>
        function initialize(){
            const input = document.getElementById("origin");
            const input2 = document.getElementById("destination");
            const autocomplete = new google.maps.places.Autocomplete(input);
            const autocomplete2 = new google.maps.places.Autocomplete(input2);
            }
            
    </script>

    {{ form.media }}
{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-md-8 mx-auto mt-4 border border-secondary rounded">
            <form method="POST" action="{% url 'ride-signup' ride.pk %}">
                {% csrf_token %} <!-- django security features -->
                <fieldset class="form-group"> <!-- fieldset creates box around content -->
                    <legend class="border-bottom mt-3 mb-4" style="text-align: center;">Enter information on your ride:</legend>
                        {{ form.non_field_errors }}

                            <div class="fieldWrapper row mx-4 mb-1">
                                {{ form.origin.errors }}
                                <label for="{{ form.origin.id_for_label }}">Where are you leaving from?</label>
                                {{form.origin}}
                            </div>

                            <div class="fieldWrapper row mx-4 mb-1">
                                {{ form.destination.errors }}
                                <label for="{{ form.destination.id_for_label }}">Where are you going?</label>
                                {{form.destination}}
                            </div>

                        <div class="fieldWrapper mx-4 mb-3">
                                {{ form.message.errors }}
                                <label for="{{ form.message.id_for_label }}">Your message to driver:</label>
                                {{form.message}}
                        </div>
                </fieldset>
                <a class="btn btn-secondary mb-3 mt-3" href="{% url 'carpool-home' %}">No, go back</a>
                <button class="btn btn-primary mb-3 mt-3" type="submit" name="submit">Yes, confirm</button>
            </form>
        </div>
    </div>
    
{% endblock content %}