{% extends 'carpool/base.html' %}
{% load crispy_forms_tags %} <!-- load crispy forms styling -->

{% block title%}
    <title> Register </title>
{% endblock title %}

{% block content %}
    <div class="content-section"> <!-- class names here are used for styling -->
        <form method="POST">
            {% csrf_token %} <!-- django security features -->
            <fieldset class="form-group"> <!-- fieldset creates box around content -->
                <legend class="border-bottom mb-4">Signup</legend>
                {{ form|crispy }} <!-- |crispy applies crispy forms styling to form -->
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Enter</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already have an account?<a class="ml-2" href="{% url 'login' %}">Sign in here</a>
            </small>
        </div>
    </div>
{% endblock content %} 