{% extends 'carpool/base.html' %}
{% load crispy_forms_tags %} <!-- load crispy forms styling -->

{% block title%}
    <title> Reset your password </title>
{% endblock title %}

{% block content %}
<div class="row d-flex align-items-center">
    <div class="col-md-4 mx-auto mt-4 border border-secondary rounded">
        <form method="POST">
            {% csrf_token %} <!-- django security features -->
            <fieldset class="form-group"> <!-- fieldset creates box around content -->
                <legend class="border-bottom text-center mb-4">Reset password</legend>
                {{ form|crispy }} <!-- |crispy applies crispy forms styling to form -->
            </fieldset>
            <div class="form-group">
                <button class="btn btn-primary mt-3 mb-3" type="submit">Request password reset</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %} 