{% extends 'carpool/base.html' %}
{% load crispy_forms_tags %}

{% block title%}
    <title> Profile view </title>
{% endblock title %}

{% block content %}
<div class="row d-flex align-items-center">
    <div class="col-md-4 mx-auto mt-4 border border-secondary rounded">
        <div class="media">
            <img class="rounded-circle account-img mt-3" src={{ user.profile.image.url }} style="display: block; margin: 0 auto;">
        <div class="media-body">
            <h2 class="account-heading text-center">{{ user.username }}</h2>
            <p class="text-secondary text-center">{{ user.email }}</p>
        </div>
        </div>
        <form method="POST" enctype="multipart/form-data"> <!-- need the enctype to save image properly -->
            {% csrf_token %} <!-- django security features -->
            <fieldset class="form-group"> <!-- fieldset creates box around content -->
                <legend class="border-bottom text-center mb-4">Profile info</legend>
                {{ u_form|crispy }} <!-- |crispy applies crispy forms styling to form -->
                {{ p_form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-primary mt-3 mb-3" type="submit">Update</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}  