{% extends 'carpool/base.html' %}

{% block title%}
    <title>Signup for a ride</title>
{% endblock title %}

{% block content %}
    <div class="row d-flex align-items-center">
        <div class="col-md-4 mx-auto mt-4 text-center border border-secondary rounded">
            <form method="POST" action="{% url 'ride-signup' object.id %}">
                {% csrf_token %}
                <h2 class="mt-3">Confirm ride from {{ride.origin}} to {{ride.destination}}</h2>
                <div class="form-group">
                    <label for="id_message">Message:</label>
                    <textarea class="form-control" id="id_message" name="message" rows="4"></textarea>
                </div>
                <a class="btn btn-secondary mb-3 mt-3" href="{% url 'carpool-home' %}">No, go back</a>
                <button class="btn btn-primary mb-3 mt-3" type="submit" name="submit">Yes, confirm</button>
            </form>
        </div>
    </div>
{% endblock content %} 
