{% extends 'carpool/base.html' %}

{% block title%}
    <title>Post a ride</title>
    <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnf3ImYPmQDgbh_kSg32Im7i8d1NIEZac&libraries=places&callback=initialize" defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

    <script
    type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.1.0/mdb.min.js"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>

    <script>
        function initialize(){
            const input = document.getElementById("origin");
            const input2 = document.getElementById("destination");
            const autocomplete = new google.maps.places.Autocomplete(input);
            const autocomplete2 = new google.maps.places.Autocomplete(input2);
            }
            
    </script>

    {{ form.media }}
{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-md-8 mx-auto mt-4 border border-secondary rounded">
            <form method="POST">
                {% csrf_token %} <!-- django security features -->
                <fieldset class="form-group"> <!-- fieldset creates box around content -->
                    <legend class="border-bottom mt-3 mb-4" style="text-align: center;">Enter ride details</legend>
                        {{ form.non_field_errors }}
                        <div class="fieldWrapper row">
                            <div class="col-md-6">
                                {{ form.origin.errors }}
                                <label for="{{ form.origin.id_for_label }}">Origin:</label>
                                {{form.origin}}
                            </div>
                            <div class="col-md-6">
                                {{ form.destination.errors }}
                                <label for="{{ form.destination.id_for_label }}">Destination:</label>
                                    {{form.destination}}
                            </div>
                        </div>
                        <div class="fieldWrapper row">
                            <div class="col-md-2">
                                {{ form.capacity.errors }}
                                <label for="{{ form.capacity.id_for_label }}">Spots in car:</label>
                                {{ form.capacity }}
                            </div>
                            <div class="col-md-3">
                                {{ form.departure_day.errors }}
                                <label for="{{ form.departure_day.id_for_label }}">Day of departure:</label>
                                {{ form.departure_day }}
                            </div>
                            <div class="col-md-3">
                                {{ form.time.errors }}
                                <label for="{{ form.time.id_for_label }}">Time of departure:</label>
                                <select name="time" id="time">
                                    <option>Morning</option>
                                    <option>Afternoon</option>
                                    <option>Evening</option>
                                </select>
                            </div>
                        </div>
                        <div class="fieldWrapper mb-3">
                            {{ form.notes.errors }}
                            <label for="{{ form.notes.id_for_label }}">Optional notes:</label>
                            {{ form.notes }}
                        </div>
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-primary mb-3" type="submit">Post</button>
                </div>
            </form>
        </div>
    </div>
    
{% endblock content %} 