{% extends 'carpool/base.html' %}

{% block title%}
    <title>Signup for a ride</title>
{% endblock title %}

{% block content %}
    <div class="content-section">
        <form method="POST" action="{% url 'ride-signup' object.id %}">
            {% csrf_token %}
            <h2>Confirm ride from {{ride.origin}} to {{ride.destination}}</h2>
            <div class="form-group">
                <a class="btn btn-outline-secondary" href="{% url 'carpool-home' %}">No, go back</a>
                <button class="btn btn-outline-danger" type="submit" name="submit">Yes, confirm</button>
            </div>
        </form>
    </div>
{% endblock content %} 
